@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



[x-cloak] {
    display: none;
}

html {
  background-color: black;
}

body {
    font-family: "Bricolage Grotesque", sans-serif !important;
}


.bricolage-grotesque-mainsetup {
    font-size:1rem;
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
      "wdth" 100, "opsz" 90;
      transition: font-variation-settings 0.3s ease;
  }

  .bricolage-grotesque-mainsetup:hover {
    font-size:1rem;
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "wdth" 300, "opsz" 12;
  }

  .bricolage-grotesque-mainsetup-lead {
    font-size:2rem;
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
      "wdth" 100, "opsz" 90;
      transition: font-variation-settings 0.3s ease;
  }

  .bricolage-grotesque-mainsetup-lead:hover {
    font-size:2rem;
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "wdth" 300, "opsz" 12;
  }

/*   .testdark {
    background-color: aqua;
  }

  .dark .testdark {
    background-color:beige;
  } */

  .container {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ball { 
    width: 100px; 
    height: 100px; 
    border-radius: 50%; 
    background-color: #FF5722; 
    animation: bounce 0.5s; 
    animation-direction: alternate; 
    animation-timing-function: cubic-bezier(.5, 0.05, 1, .5); 
    animation-iteration-count: infinite; 
} 
  
@keyframes bounce { 
    from { 
        transform: translate3d(0, 0, 0); 
    } 
    to { 
        transform: translate3d(0, 200px, 0); 
    } 
} 
/* Prefix Support */ 

/* radio button styling for checked input */

/* ul li input:checked {
  accent-color: #f806e4;
} */

/* :has() selector for border styling */

/* ul li:has(input:checked) {
  border: 2px solid #f806e4;
} */

